.leaflet-container {
  color: #464646;
  font-family: "Arial", Helvetica, sans-serif;
}
.leaflet-container a {
  color: #b28000;
  text-decoration: none;
}
.leaflet-container a:hover {
  color: #d39700;
  text-decoration: underline;
}
.leaflet-popup-content-wrapper {
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
      -ms-border-radius: 0;
       -o-border-radius: 0;
          border-radius: 0;
     -moz-box-shadow: 0 1px 5px rgba(0,0,0,.18);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.18);
          box-shadow: 0 1px 5px rgba(0,0,0,.18);
  background-color: #f9f7f1;
  border: 1px solid #bdbbb1;
  pointer-events: auto;
  text-align: left;
}
.leaflet-popup-pane {
  pointer-events: none;
}
.leaflet-popup-tip-container {
  height: 25px;
  margin: -1px auto;
  padding-left: 21px;
  width: 25px;
}
.leaflet-popup-tip {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      -ms-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
  background-color: transparent;
  border-left: solid 1px #bdbbb1;
  height: 24px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.leaflet-popup-tip:after {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.18);
     -moz-box-shadow: 0 1px 5px rgba(0,0,0,.18);
      -ms-box-shadow: 0 1px 5px rgba(0,0,0,.18);
       -o-box-shadow: 0 1px 5px rgba(0,0,0,.18);
          box-shadow: 0 1px 5px rgba(0,0,0,.18);
   -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
           transform: rotate(45deg);
   background-color: #f9f7f1;
   border: 1px solid #bdbbb1;
   content: "";
   height: 50px;
   left: -15px;
   position: absolute;
   top: -25px;
   width: 30px;
}
.leaflet-container a.leaflet-popup-close-button {
  background: #d29700;
  border-radius: 90%;
  color: #fff;
  height: 21px;
  line-height: 19px;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: -9px;
  text-align: center;
  top: -10px;
  width: 21px;
}
.leaflet-container a.leaflet-popup-close-button:focus, .leaflet-container a.leaflet-popup-close-button:hover {
  background-color: #8f8f7d;
  color: #fff;
  text-decoration: none;
}
.leaflet-popup-content .title {
  font-size: 13px;
  font-weight: bold;
}
.leaflet-zoom-box {
  border: 3px solid #d29700;
  background: white;
  opacity: 0.5;
}
.leaflet-popup-content table {
  background-color: #fff;
  border: 1px solid  #918f7d;
  border-collapse: collapse;
  margin: 0;
}
.leaflet-popup-content td {
  border: 1px solid #918f7d;
  padding: 5px 10px;
}
.leaflet-popup-content th {
  border: 1px solid #918f7d;
  padding: 5px 10px;
  white-space: nowrap;
}
.leaflet-popup-content tr:last-child td, .leaflet-popup-content tr:last-child th {
  border-bottom: none;
}
.leaflet-container .leaflet-control-attribution {
  -webkit-box-shadow: 0 0 15px #888;
     -moz-box-shadow: 0 0 15px #888;
      -ms-box-shadow: 0 0 15px #888;
       -o-box-shadow: 0 0 15px #888;
          box-shadow: 0 0 15px #888;
  line-height: 13px;
  padding: 3px 5px;
  text-align: right;
}