/* NPMap.js Components */
.npmap {
  height: 100%;
  position: absolute;
  width: 100%;
}
.npmap-modules {
  -webkit-box-shadow: 2px 0 2px rgba(0,0,0,.2);
     -moz-box-shadow: 2px 0 2px rgba(0,0,0,.2);
          box-shadow: 2px 0 2px rgba(0,0,0,.2);
  background-color: #f9f7f1;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}
.npmap-container {
  bottom: 0;
  /*left: 300px;*/
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.npmap-map-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.npmap-map {
  height: 100%;
  width: 100%;
}
.npmap-toolbar {
  background-color: #908e7d;
  display: none;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.npmap .pull-right {
  float: right;
}
/* Leaflet Overrides */
.leaflet-container {
  color: #464646;
  font-family: "Arial", Helvetica, sans-serif;
}
.leaflet-container a {
  color: #b28000;
  text-decoration: none;
}
.leaflet-container a:hover {
  color: #d39700;
  text-decoration: underline;
}
/* Controls */
.leaflet-control {
  -webkit-box-shadow: 0 0 15px #888;
     -moz-box-shadow: 0 0 15px #888;
      -ms-box-shadow: 0 0 15px #888;
       -o-box-shadow: 0 0 15px #888;
          box-shadow: 0 0 15px #888;
}
/* Popup */
.leaflet-popup-content-wrapper {
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
      -ms-border-radius: 0;
       -o-border-radius: 0;
          border-radius: 0;
     -moz-box-shadow: 0 1px 5px rgba(0,0,0,.18);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.18);
          box-shadow: 0 1px 5px rgba(0,0,0,.18);
  background-color: #f9f7f1;
  border: 1px solid #bdbbb1;
  pointer-events: auto;
  overflow: auto;
  text-align: left;
}
  .leaflet-popup-content-wrapper .npmap-overflow {
    overflow: auto;
  }
.leaflet-popup-pane {
  pointer-events: none;
}
.leaflet-popup-tip-container {
  height: 25px;
  margin: -1px auto;
  padding-left: 21px;
  width: 25px;
}
.leaflet-popup-tip {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      -ms-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
  background-color: transparent;
  border-left: solid 1px #bdbbb1;
  height: 24px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.leaflet-popup-tip:after {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.18);
     -moz-box-shadow: 0 1px 5px rgba(0,0,0,.18);
      -ms-box-shadow: 0 1px 5px rgba(0,0,0,.18);
       -o-box-shadow: 0 1px 5px rgba(0,0,0,.18);
          box-shadow: 0 1px 5px rgba(0,0,0,.18);
   -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
           transform: rotate(45deg);
   background-color: #f9f7f1;
   border: 1px solid #bdbbb1;
   content: "";
   height: 50px;
   left: -15px;
   position: absolute;
   top: -25px;
   width: 30px;
}
.leaflet-container a.leaflet-popup-close-button {
  background: #d29700;
  border-radius: 90%;
  color: #fff;
  height: 21px;
  line-height: 19px;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: -9px;
  text-align: center;
  top: -10px;
  width: 21px;
}
.leaflet-container a.leaflet-popup-close-button:focus, .leaflet-container a.leaflet-popup-close-button:hover {
  background-color: #8f8f7d;
  color: #fff;
  text-decoration: none;
}
.leaflet-popup-content .title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}
.leaflet-popup-content table {
  background-color: #fff;
  border: 1px solid  #918f7d;
  border-collapse: collapse;
  margin: 0;
}
.leaflet-popup-content td {
  border: 1px solid #918f7d;
  padding: 5px 10px;
}
.leaflet-popup-content th {
  border: 1px solid #918f7d;
  padding: 5px 10px;
  white-space: nowrap;
}
.leaflet-popup-content tr:last-child td, .leaflet-popup-content tr:last-child th {
  border-bottom: none;
}
/* Zoombox */
.leaflet-zoom-box {
  border: 3px solid #d29700;
  background: white;
  opacity: 0.5;
}
/* Attribution */
.leaflet-control-attribution {
  line-height: 13px;
  padding: 3px 5px;
  text-align: right;
  transition: all .2s;
}
.leaflet-bar a, .leaflet-bar a:hover {
  -webkit-text-shadow: 0px 2px 2px #757571;
     -moz-text-shadow: 0px 2px 2px #757571;
      -ms-text-shadow: 0px 2px 2px #757571;
       -o-text-shadow: 0px 2px 2px #757571;
          text-shadow: 0px 2px 2px #757571;
  background-color: #74746a;
  border: 1px solid #1a2423;
  color: #fff;
  text-decoration: none;
}
.leaflet-bar a:hover {
  background-color: #626159;
}
.leaflet-bar a:active {
  background-color: #53534a;
}
.leaflet-bar a.leaflet-disabled, .leaflet-bar a.leaflet-disabled:hover {
  -webkit-text-shadow: none;
     -moz-text-shadow: none;
      -ms-text-shadow: none;
       -o-text-shadow: none;
          text-shadow: none;
  background-color: #4b4B44;
  color: #bbb;
}
.leaflet-bar a:last-child {
  border-bottom: solid 1px #1a2423;
  border-top: none;
}
/* Overview Control */
.leaflet-control-overview {
  -webkit-box-shadow: -1px 0 5px rgba(0,0,0,.28);
     -moz-box-shadow: -1px 0 5px rgba(0,0,0,.28);
          box-shadow: -1px 0 5px rgba(0,0,0,.28);
  background-color: #fff;
  border-left: solid #454545 3px;
  border-top: solid #454545 3px;
  transition: all .2s;
}
.leaflet-control-overview a {
  background-repeat: no-repeat;
  display: block;
  outline: none;
  transition: all .2s;
  z-index: 99999;
}
  .leaflet-control-overview a.minimized {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
  }
.leaflet-control-overview-toggle-display {
  background-image: url('images/overview-toggle.png');
  bottom: 10px;
  height: 10px;
  position: absolute;
  right: 10px; 
  width: 10px;
}